In [4]:
import pandas as pd
pd.set_option('display.max_columns',15)
Stud = pd.read_csv('students_complete.csv')
Sch = pd.read_csv('schools_complete.csv')
Stud_df = pd.DataFrame(Stud)
Sch_df = pd.DataFrame(Sch)

In [5]:
#District Summary --Create a high level snapshot of the district's key metrics'
#Is there any missing data anywhere in the dataframe?
Stud_df.isnull().values.any()  #code from my Assessment model script works here
#False so we proceed accordingly with a pre-cleaned dataset. Thanks for clean data
List = Stud_df.groupby(["school_name"]).count()
#Stud_df["reading_score"].mean()
Stud_df.loc[:,"grade"].replace("th","",regex=True,inplace=True)  #Phew this to ensure grades are properly sorted for later
Stud_df["grade"] = pd.to_numeric(Stud_df["grade"])
MathPass = (Stud_df.iloc[:,6] >= 70)*1
ReadPass = (Stud_df.iloc[:,5] >= 70)*1
Stud_df["% Passing Math"] = MathPass
Stud_df["% Passing Reading"] = ReadPass
PassMath = sum(MathPass) / len(Stud_df) #create logical vector of 1=pass,0=fail, sum it, divide by total
PassMPer = ("{:.2%}".format(PassMath))
PassRead = sum(ReadPass) / len(Stud_df) #create logical vector of 1=pass,0=fail, sum it, divide by total
PassRPer = ("{:.2%}".format(PassRead))
PassOv = ("{:.2%}".format((PassMath+PassRead)/2))

print("Results reported assume a pass criterion of 70% or higher")
print("Summary of the District Schools:")
print("-------------------------------------------------------------")
print(f"Total Schools: {len(List)}")
print(f"Total Students: {sum(List['grade'])}")
print(f"Total Budget: {sum(Sch_df['budget'])}")
print(f"Average Math Score: {Stud_df['math_score'].mean():.2f}")
print(f"Average Reading Score: {Stud_df['reading_score'].mean():.2f}")
print(f"% Passing Math: {PassMPer}")
print(f"% Passing Reading: {PassRPer}")
print(f"Overall Passing Rate: {PassOv}")
print("-------------------------------------------------------------")

Results reported assume a pass criterion of 70% or higher
Summary of the District Schools:
-------------------------------------------------------------
Total Schools: 15
Total Students: 39170
Total Budget: 24649428
Average Math Score: 78.99
Average Reading Score: 81.88
% Passing Math: 74.98%
% Passing Reading: 85.81%
Overall Passing Rate: 80.39%
-------------------------------------------------------------

In [6]:
#Next for the School Summary, fun stuff

Anchor = Stud_df.groupby(["school_name"]).mean()
Anchor = Anchor.drop(columns=["Student ID","grade"])
Anchor = pd.DataFrame(Anchor)
Merge_df = pd.merge(Anchor,Sch_df,on="school_name")
Merge_df[["reading_score","math_score"]] = Merge_df[["reading_score","math_score"]].round(2)
Merge_df[["% Passing Math","% Passing Reading"]] = Merge_df[["% Passing Math","% Passing Reading"]].round(4) *100
Merge_df["Overall Passing Rate"] = Merge_df.iloc[:,3:5].mean(axis=1)
Merge_df["Per Student Budget"] = round(Merge_df["budget"]/Merge_df["size"],2)
Fin_df = Merge_df.rename(columns={"school_name":"School Name","reading_score":"Avg Reading Score","math_score":
                                  "Avg Math Score","type":"School Type","size":"Total Students","budget":"Total Budget"})
#apologies for this messiness but I love ILOC!!!!
Fin_df = Fin_df.iloc[:,[0,6,7,8,10,2,1,3,4,9]]
print(Fin_df)

              School Name School Type  Total Students  Total Budget  \
0      Bailey High School    District            4976       3124928
1     Cabrera High School     Charter            1858       1081356
2    Figueroa High School    District            2949       1884411
3        Ford High School    District            2739       1763916
4     Griffin High School     Charter            1468        917500
5   Hernandez High School    District            4635       3022020
6      Holden High School     Charter             427        248087
7       Huang High School    District            2917       1910635
8     Johnson High School    District            4761       3094650
9        Pena High School     Charter             962        585858
10  Rodriguez High School    District            3999       2547363
11    Shelton High School     Charter            1761       1056600
12     Thomas High School     Charter            1635       1043130
13     Wilson High School     Charter            2283       1319574
14     Wright High School     Charter            1800       1049400

    Per Student Budget  Avg Math Score  Avg Reading Score  % Passing Math  \
0                628.0           77.05              81.03           66.68
1                582.0           83.06              83.98           94.13
2                639.0           76.71              81.16           65.99
3                644.0           77.10              80.75           68.31
4                625.0           83.35              83.82           93.39
5                652.0           77.29              80.93           66.75
6                581.0           83.80              83.81           92.51
7                655.0           76.63              81.18           65.68
8                650.0           77.07              80.97           66.06
9                609.0           83.84              84.04           94.59
10               637.0           76.84              80.74           66.37
11               600.0           83.36              83.73           93.87
12               638.0           83.42              83.85           93.27
13               578.0           83.27              83.99           93.87
14               583.0           83.68              83.96           93.33

    % Passing Reading  Overall Passing Rate
0               81.93                74.305
1               97.04                95.585
2               80.74                73.365
3               79.30                73.805
4               97.14                95.265
5               80.86                73.805
6               96.25                94.380
7               81.32                73.500
8               81.22                73.640
9               95.95                95.270
10              80.22                73.295
11              95.85                94.860
12              97.31                95.290
13              96.54                95.205
14              96.61                94.970

In [7]:
#Sorting then reporting top 5
Place_df = Fin_df.sort_values(by=["Overall Passing Rate"],ascending=False)
Place_df = pd.DataFrame(Place_df)
TopFin_df = Place_df.head(5)
print(TopFin_df)

            School Name School Type  Total Students  Total Budget  \
1   Cabrera High School     Charter            1858       1081356
12   Thomas High School     Charter            1635       1043130
9      Pena High School     Charter             962        585858
4   Griffin High School     Charter            1468        917500
13   Wilson High School     Charter            2283       1319574

    Per Student Budget  Avg Math Score  Avg Reading Score  % Passing Math  \
1                582.0           83.06              83.98           94.13
12               638.0           83.42              83.85           93.27
9                609.0           83.84              84.04           94.59
4                625.0           83.35              83.82           93.39
13               578.0           83.27              83.99           93.87

    % Passing Reading  Overall Passing Rate
1               97.04                95.585
12              97.31                95.290
9               95.95                95.270
4               97.14                95.265
13              96.54                95.205

In [8]:
#Bottom Five Schools
BotFin_df = Place_df.tail(5)
print(BotFin_df)

              School Name School Type  Total Students  Total Budget  \
5   Hernandez High School    District            4635       3022020
8     Johnson High School    District            4761       3094650
7       Huang High School    District            2917       1910635
2    Figueroa High School    District            2949       1884411
10  Rodriguez High School    District            3999       2547363

    Per Student Budget  Avg Math Score  Avg Reading Score  % Passing Math  \
5                652.0           77.29              80.93           66.75
8                650.0           77.07              80.97           66.06
7                655.0           76.63              81.18           65.68
2                639.0           76.71              81.16           65.99
10               637.0           76.84              80.74           66.37

    % Passing Reading  Overall Passing Rate
5               80.86                73.805
8               81.22                73.640
7               81.32                73.500
2               80.74                73.365
10              80.22                73.295

In [9]:
#Math Scores by Grade
MBG_df = Stud_df.groupby(["school_name","grade"])[["math_score"]].mean()
print(round(MBG_df,2))

                             math_score
school_name           grade
Bailey High School    9           77.08
                      10          77.00
                      11          77.52
                      12          76.49
Cabrera High School   9           83.09
                      10          83.15
                      11          82.77
                      12          83.28
Figueroa High School  9           76.40
                      10          76.54
                      11          76.88
                      12          77.15
Ford High School      9           77.36
                      10          77.67
                      11          76.92
                      12          76.18
Griffin High School   9           82.04
                      10          84.23
                      11          83.84
                      12          83.36
Hernandez High School 9           77.44
                      10          77.34
                      11          77.14
                      12          77.19
Holden High School    9           83.79
                      10          83.43
                      11          85.00
                      12          82.86
Huang High School     9           77.03
                      10          75.91
                      11          76.45
                      12          77.23
Johnson High School   9           77.19
                      10          76.69
                      11          77.49
                      12          76.86
Pena High School      9           83.63
                      10          83.37
                      11          84.33
                      12          84.12
Rodriguez High School 9           76.86
                      10          76.61
                      11          76.40
                      12          77.69
Shelton High School   9           83.42
                      10          82.92
                      11          83.38
                      12          83.78
Thomas High School    9           83.59
                      10          83.09
                      11          83.50
                      12          83.50
Wilson High School    9           83.09
                      10          83.72
                      11          83.20
                      12          83.04
Wright High School    9           83.26
                      10          84.01
                      11          83.84
                      12          83.64

In [10]:
RBG_df = Stud_df.groupby(["school_name","grade"])[["reading_score"]].mean()
print(round(RBG_df,2))

                             reading_score
school_name           grade
Bailey High School    9              81.30
                      10             80.91
                      11             80.95
                      12             80.91
Cabrera High School   9              83.68
                      10             84.25
                      11             83.79
                      12             84.29
Figueroa High School  9              81.20
                      10             81.41
                      11             80.64
                      12             81.38
Ford High School      9              80.63
                      10             81.26
                      11             80.40
                      12             80.66
Griffin High School   9              83.37
                      10             83.71
                      11             84.29
                      12             84.01
Hernandez High School 9              80.87
                      10             80.66
                      11             81.40
                      12             80.86
Holden High School    9              83.68
                      10             83.32
                      11             83.82
                      12             84.70
Huang High School     9              81.29
                      10             81.51
                      11             81.42
                      12             80.31
Johnson High School   9              81.26
                      10             80.77
                      11             80.62
                      12             81.23
Pena High School      9              83.81
                      10             83.61
                      11             84.34
                      12             84.59
Rodriguez High School 9              80.99
                      10             80.63
                      11             80.86
                      12             80.38
Shelton High School   9              84.12
                      10             83.44
                      11             84.37
                      12             82.78
Thomas High School    9              83.73
                      10             84.25
                      11             83.59
                      12             83.83
Wilson High School    9              83.94
                      10             84.02
                      11             83.76
                      12             84.32
Wright High School    9              83.83
                      10             83.81
                      11             84.16
                      12             84.07

In [11]:
#Cutting the dataframe into intervals: 575-599, 600 to 629, 630 to 649, 650+
Fin_df["Spending Ranges"] = pd.cut(Fin_df["Per Student Budget"],[575,599,629,649,674],labels=
       ["Below $600","$600-$629","$630-$649","At Least $650"])
#scores by school spending
BySpend_df = Fin_df.groupby(["Spending Ranges"])[["Avg Math Score","Avg Reading Score",
                       "% Passing Math","% Passing Reading","Overall Passing Rate"]]
print(round(BySpend_df.mean(),2))

                 Avg Math Score  Avg Reading Score  % Passing Math  \
Spending Ranges
Below $600                83.45              83.94           93.46
$600-$629                 81.90              83.16           87.13
$630-$649                 78.52              81.62           73.48
At Least $650             77.00              81.03           66.16

                 % Passing Reading  Overall Passing Rate
Spending Ranges
Below $600                   96.61                 95.04
$600-$629                    92.72                 89.93
$630-$649                    84.39                 78.94
At Least $650                81.13                 73.65

In [12]:
#Cutting the data into 3 groups by School Size
Fin_df["Size Ranges"] = pd.cut(Fin_df["Total Students"],[0,1499,2999,5000],labels=
       ["Small","Medium","Large"])

BySize_df = Fin_df.groupby(["Size Ranges"])[["Avg Math Score","Avg Reading Score",
                       "% Passing Math","% Passing Reading","Overall Passing Rate"]]
print(round(BySize_df.mean(),2))

             Avg Math Score  Avg Reading Score  % Passing Math  \
Size Ranges
Small                 83.66              83.89           93.50
Medium                80.90              82.82           83.56
Large                 77.06              80.92           66.46

             % Passing Reading  Overall Passing Rate
Size Ranges
Small                    96.45                 94.97
Medium                   90.59                 87.07
Large                    81.06                 73.76

In [13]:
#Breaking the data down by School Type... Then DONE!!! 10:19 AM Friday 6/21. Slacking this week :)
BySize_df = Fin_df.groupby(["School Type"])[["Avg Math Score","Avg Reading Score",
                       "% Passing Math","% Passing Reading","Overall Passing Rate"]]
print(round(BySize_df.mean(),2))

             Avg Math Score  Avg Reading Score  % Passing Math  \
School Type
Charter               83.47              83.90           93.62
District              76.96              80.97           66.55

             % Passing Reading  Overall Passing Rate
School Type
Charter                  96.59                 95.10
District                 80.80                 73.67